.footer{
    background-color: #353C65;
    text-align: center;
}
.footer__container{
    max-width: 1200px;
    padding:71px 15px 67px;
    margin:0 auto;
}
.footer__columns{
    display:flex;
    flex-wrap: wrap;
    margin:0 -15px;
}
.footer__columns-item{
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    flex:0 1 calc(100%/3);
    max-width: 400px;
    padding:0 15px;
}
.footer-item__title{
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-item__text{
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #FFFFFF;
padding:29px 0 0;
}
.footer-item__icons{
    margin:49px 0 0;
}
.footer__icon:not(:last-child){
    margin:0 27px 0 0;
}
.footer__copyright{
    background-color: #2C3154;
    padding:24px 0;
}
.footer__copyright-content{
display:inline-block;
max-width: 370px;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #808080;
& span{
color:#FFFFFF;   
}
}
@media(max-width:1024px){
.footer__container{
    padding:47px 10px 41px;
}
.footer__columns{
    display:flex;
    flex-wrap: wrap;
    margin:0 -10px;
}
.footer__columns-item{
    max-width: 335px;
    padding:0 10px;
}
.footer-item__title{
font-size: 14px;
line-height: 16px;
}
.footer-item__text{
font-size: 14px;
line-height: 16px;
padding:16px 0 0;
}
.footer-item__icons{
    margin:33px 0 0;
}
.footer__icon:not(:last-child){
    margin:0 22px 0 0;
}
.footer__copyright{
    padding:14px 0;
}
.footer__copyright-content{
font-size: 14px;
line-height: 16px;
}
}
@media(max-width:768px){
    .footer__container{
    padding:34px 20px 33px;
}
.footer__columns{
    margin:0 -20px;
}
.footer__columns-item{
    padding:0 20px;
}
.footer-item__text{
padding:34px 0 0;
}
.footer-item__icons{
    margin:33px 0 0;
}
.icon{
    height:33px;
    width:33px;
    & a{
    font-size: 15px;
    }
}
.footer__icon:not(:last-child){
    margin:0 16px 0 0;
}
.footer__copyright{
    padding:14px 0;
}
.footer__copyright-content{
font-size: 14px;
line-height: 16px;
}
}

